<launch>

    <!--- Sim Time -->
    <param name="/use_sim_time" value="true" />

    <rosparam file="$(find structural_mapping)/config/parameters.yaml" command="load"/>

    <arg name="projfolder" default="/home/cyz/workspace/testData/yijiao" />
    <!--    docker debug-->
    <!--    <arg name="projfolder" default="/root/yijiao" />-->

    <param name="projpath"  type="string" value="$(arg projfolder)/"/>
    <!--- for BALM2 -->
    <param name="window_size"  type="int" value="12"/>
    <param name="margi_size"  type="int" value="6"/>

    <!--    RVIZ-->
    <arg name="showRviz" default="true" />
    <group if="$(arg showRviz)">
        <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz"
              args="-d $(find structural_mapping)/config/testodom.rviz"/>
        <!--              args="-d $(find structural_mapping)/config/test.rviz"/>-->
    </group>

    <!--    NODES-->
    <node pkg="structural_mapping"   type="dataPreprocessing"    name="dataPreprocessing"  output="screen"/>
    <node pkg="structural_mapping"   type="lineFitting"          name="lineFitting"        output="screen"/>
    <node pkg="structural_mapping"   type="featureExtraction"    name="featureExtraction"  output="screen"/>
    <node pkg="structural_mapping"   type="odomEstimation"       name="odomEstimation"     output="screen"/>

    <!--        <node pkg="lego_loam" type="mapOptmization"     name="mapOptmization"     output="screen">-->
    <!--        <param name="enablesaveData" type = "bool"  value="true"/>-->
    <!--        <param name="enablesaveAllframes" type="bool" value="true"/>-->
    <!--        <param name="enablesaveKeyframes" type="bool" value="true"/>-->
    <!--        </node>-->

    <!--    DATA-->
    <!--    20200107xinbubigloopPart1  -->
    <!--    <node pkg="rosbag" type="play" name="player" output="screen" args="&#45;&#45;clock $(arg projfolder)/20200107xinbubigloopPart1.bag &#45;&#45;topics /velodyne_points -r 0.05" />-->
    <!--    20200107xinbubigloop  -->
    <!--    <node pkg="rosbag" type="play" name="player" output="screen" args="&#45;&#45;clock $(arg projfolder)/20200107xinbubigloop.bag &#45;&#45;topics /velodyne_points -r 0.1" />-->

    <!--    2019.4.29-demo-FirstTeachBuilding -->
<!--    <node pkg="rosbag" type="play" name="player" output="screen" args="&#45;&#45;clock -k $(arg projfolder)/2019.4.29-demo-FirstTeachBuilding.bag &#45;&#45;topics /velodyne_points -r 1" />-->
    <!--    <node pkg="rosbag" type="play" name="player" output="screen" args="&#45;&#45;clock -k $(arg projfolder)/2020-11-10-yijiaoDriftPart.bag &#45;&#45;topics /velodyne_points -r 1" />-->

    <!--    20190311playgroundloopcut  -->
    <!--    <node pkg="rosbag" type="play" name="player" output="screen" args="&#45;&#45;clock $(arg projfolder)/20190311playgroundloopcut.bag &#45;&#45;topics /velodyne_points -r 0.5" />-->

</launch>
